* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {font-family: "CircularSpotifyTxT-Black";
  src: url("fonts/spotify.eot"); /* IE9*/
  src: url("fonts/spotify.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/spotify.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/spotify.woff") format("woff"), /* chrome、firefox */
  url("fonts/spotify.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/spotify.svg#CircularSpotifyTxT-Black") format("svg"); /* iOS 4.1- */
}

body{
  font-family: "CircularSpotifyTxT-Black";
}

main {
  height: 100%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;

}

.types a:hover {
  color: grey;
}

/* barra superiore */
.bar {
  position: relative;
  background-color: #121212;
  width: calc(100% - 200px);
  height: 90px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  position: absolute;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 10px;
}

/* SIDEBAR SX */

.col-sx {
  background-color: #040404;
  width: 200px;
  height: calc(100% - 100px);
  float: left;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 200px;
  padding: 20px;
}

.function {
  margin-left: 10px;
  height: calc(100% - 174px);
  overflow: hidden;
}

.function ul li {
  list-style: none;
  margin-top: 15px;
}

.col-sx h5 {
  margin-top: 20px;
}

.install {
  width: 90%;
  height: 80px;
  margin: auto;
  position: absolute;
  bottom: 0;
}

.install > hr {
  margin-bottom: 5px;
  margin-top: 5px;
}

.playlist {
  overflow-y: auto;
  height: 40%;
}

/* MAIN col DX */
.col-dx {
  background-color: #121212;
  width: calc(100% - 200px);
  height: calc(100% - 100px);
  padding-top: 90px;
  float: right;
  overflow-y: scroll;
}

/* lista in alto */

.types {
  list-style: none;
  text-align: center;
  font-size: 10px;
}

.types li {
  display: inline-block;
  color: white;
  padding: 10px;
}

.highlighter {
  background-color: #1db954;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  margin: auto;
}

/* elenco album e contenuti recenti */
.cover {
  color: white;
  padding: 20px;
}

.cover ul {
  margin-top: 30px;
}

.cover li {
  display: inline-block;
  width: 200px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
}

.cover li img {
  max-width: 100%;
}

#artists {
  border-radius: 100%;
}

.first-span {
  color: white;
}

.second-span {
  color: grey;
}

/* player */

footer {
  height: 100px;
  width: 100vw;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
}

[class*="block_player_"] {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.block_player_one {
  justify-content: space-around;
  width: 230px;
}

[class*="fa-"] {
  color: white;
  margin: 10px;
  font-size: 15px;
}

.block_player_one img {
  width: 50px;
  height: 50px;
}

.name .first-span,
.name .second-span {
  display: block;
  font-size: 10px;
}


.block_player_two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  position: relative;
  margin: 0 auto;
  align-items: center;
}


.block_player_two .first-span {
  padding: 0 15px;
  font-size: 10px;
}

#play {
  font-size: 30px;
}

.player_time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  background-color: grey;
  height: 5px;
  width: 60%;
  border-radius: 5px;
}

.gone {
  background-color: white;
  height: 100%;
  width: 30%;
  border-radius: 5px;
}

.block_player_three {
  width: 230px;
}

.block_player_three i {
  margin: 10px 5px;
}

.volume {
  display: inline-block;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background-color: white;
}

.volume_controls {
  display: inline-block;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1024px) {
/* SIDEBAR sx */
.logo-s {
  display: none;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  /* SIDEBAR */
  .logo-s {
    display: none;
  }

  /* col dx img */
  .cover li {
    width: 150px;
  }
}

@media screen and (min-width: 421px) and (max-width: 767px) {
  /* SIDEBAR */
  .logo-s {
    display: none;
  }

  /* col dx img */
  .types {
    font-size: 10px;
  }

  .cover li {
    width: 150px;
  }

  /* footer player */
  .block_player_one {
    width: 135px;
  }

  .block_player_three {
    width: 135px;
  }

  .block_player_one .name {
    display: none;
  }

  [class*="fa-"] {
    font-size: 10px;
  }

  #play {
    font-size: 20px;
  }

}

@media screen and (max-width: 420px) {

  /* SIDEBAR */
  .logo-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;

  }

  .function ul li i {
    display: ;
  }

  /* upbar */
  .bar {
    width: calc(100% - 50px);
    height: 80px;
  }

  .btn {
    font-size: 10px;
  }

  /* sidebar SX */
  .col-sx {
    width: 50px;
    display: flex;
    flex-direction: column;
    padding: 5px 8px;
    align-items: center;
  }

  .function {
    display: none;
  }

  .logo {
    display: none;
  }

  .install {
    display: none;
  }

  /* main DX */
  .col-dx {
    width: calc(100% - 50px);
  }

  .types li {
    padding: 10px;
    font-size: 10px;
  }

  .cover li {
    width: 140px;
  }

  /* footer player */
  .block_player_one {
    width: 100px;
  }

  .block_player_three {
    width: 100px;
  }

  .block_player_one .name {
    display: none;
  }

  [class*="fa-"] {
    font-size: 10px;
  }

  #play {
    font-size: 20px;
  }
}
